

<nav class="navigation nav-bg-hidden" style="background-color: #181B25">
  <div class="relative" style="width: 152px;">
    <div>
      <a class="nav-item nav-item-logo no-active border-l-0 border-r-0 absolute top-0 left-0">
        <span class="nav-item-content">
     
        </span>
      </a>
    </div>
  </div>
  <div class="nav-item-group max-w-full">
    <div class="navigation-menu-contents">
      <div class="nav-item nav-dropdown-item">
        <span class="nav-item-content">
          <span class="nav-item-text"> <a routerLink="/acceuil" *ngIf="( actualroute!='/emailadmin' && actualroute!='/problemeadmin' && actualroute!='/dashboard')" class="nav-item rushlane">Acceuil</a></span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 5" width="8" height="8" class="dropdown-triangle"><path xmlns="http://www.w3.org/2000/svg" fill="currentColor" fill-rule="evenodd" d="M4.177 5l-4-5h8z"></path></svg>
          <div class="v-portal" style="display: none;"></div>
          <span class="site-overlay"></span>
        </span>
        <!---->
      </div>
      <a routerLink="/list-teams"  *ngIf="( actualroute!='/emailadmin' && actualroute!='/problemeadmin' && actualroute!='/dashboard')" class="nav-item nav-item-contests"><span class="nav-item-content">Teams</span></a> 
      <a routerLink="/about"  *ngIf="( actualroute!='/emailadmin' && actualroute!='/problemeadmin' && actualroute!='/dashboard')" class="nav-item nav-item-contests"><span class="nav-item-content">A propos</span></a> 

      <a routerLink="/bet"  *ngIf="( actualroute!='/emailadmin' && actualroute!='/problemeadmin' && actualroute!='/dashboard')" class="nav-item rushlane">
        <span class="nav-item-content"><span class="pr-2">🔥</span>Parier</span> <span class="chip chip-red-light px-4">New</span>
      </a>
      <a href="/academy" class="nav-item nav-item-academy"></a> <a href="/esports" class="nav-item nav-item-news"></a> <a href="/promos" class="nav-item nav-item-promos"></a>
 
      <div *ngIf="( actualroute!='/emailadmin' && actualroute!='/problemeadmin' && actualroute!='/dashboard')" class="nav-item nav-dropdown-item nav-help-dropdown nav-item-help"><!----></div>
    </div>
  </div>
  <div class="flex account-group">
    <div class="nav-item nav-dropdown-item">
      <span class="nav-item-content">
  

        <span class="site-overlay"></span>
      </span>
      <!---->
    </div>
    <div class="notification-wrapper">
      <div *ngIf="notificationtrue"  class="dropdown-menu menu dropdown-menu-right show" id="navbarNotificationContent" aria-labelledby="navbarDropdownMenuLink" style="width: 250px;margin-right: 23%;" #menu>

      
        <a *ngFor="let h of listnotif" [ngStyle]="{'background':h.vue === 0 ? 'aquamarine' : 'white' }"  routerLink="/notification/{{h.id}}/{{h.vue}}" gtm-id="Notifications" class="dropdown-item text-wrap" data-notification-date="08/10/2021 10:00" href="https://mdbootstrap.com/docs/b5/angular/">
          <p class="small text-uppercase mb-2">{{h.dateNotif}}</p>

          <p class="mb-0">{{h.description}}</p>
          <span class="pq6dq46d is6700om qu0x051f esr5mh6w e9989ue4 r7d6kgcz s45kfl79 emlxlaya bkmhp75w spb7xbtv cyypbtt7 fwizqjfa" data-visualcompletion="ignore"></span>
        </a>

    </div>
      <a #togglenotif *ngIf="me!=null && ( actualroute!='/emailadmin' && actualroute!='/problemeadmin' && actualroute!='/dashboard') "  [routerLink]="" (click)="shownotification()" class="nav-item no-hover no-active nav-button">
        <span class="nav-item-content"><span class=""> <mat-icon matBadge="{{messagingService.notifnumber}}" matBadgeColor="warn" style=" margin-right: 15px;
        
      ">notifications</mat-icon></span></span>
      </a>
     
    </div>
   
    <a *ngIf="me!=null && ( actualroute!='/emailadmin' && actualroute!='/problemeadmin' && actualroute!='/dashboard') "  routerLink="/historique" class="nav-item no-hover no-active nav-button">
      <span class="nav-item-content"><span class="auth-button border border-transparent hover:underline">Mon Historique</span></span>
    </a>
    
    <a *ngIf="me!=null && ( actualroute!='/emailadmin' && actualroute!='/problemeadmin' && actualroute!='/dashboard') " routerLink="/mon-profil" style="margin-right: 30px;" class="nav-item no-hover no-active nav-button">
      <span class="nav-item-content"><span class="auth-button border border-transparent hover:underline">Mon Profil</span></span>
    </a>
    <a *ngIf="me==null && ( actualroute!='/emailadmin' && actualroute!='/problemeadmin' && actualroute!='/dashboard')" routerLink="/sign-up" class="nav-item no-hover no-active nav-button register-button">
      <span class="nav-item-content"><span class="auth-button btn btn-bloodorange">Sign-Up</span></span>
    </a>
    <a *ngIf="me==null && ( actualroute!='/emailadmin' && actualroute!='/problemeadmin' && actualroute!='/dashboard')" routerLink="/login" class="nav-item no-hover no-active nav-button register-button">
      <span class="nav-item-content"><span class="auth-button btn btn-bloodorange">Login</span></span>
    </a>
  
    <a *ngIf="me!=null && ( actualroute!='/emailadmin' && actualroute!='/problemeadmin' && actualroute!='/dashboard')" (click)="logOut()" class="nav-item no-hover no-active nav-button register-button">
      <span class="nav-item-content"><span class="auth-button btn btn-bloodorange">Deconnexion</span></span>
    </a>

  </div>
  <!---->
  <!---->
  <!---->
  <!---->
  <!---->
  <!---->
  <!---->
  <!---->
  <!---->
  <!---->
</nav>


<router-outlet></router-outlet>


