

<nav class="navigation nav-bg-hidden" style="background-color: #181B25">
  <div class="relative" style="width: 152px;">
    <div>
      <a class="nav-item nav-item-logo no-active border-l-0 border-r-0 absolute top-0 left-0">
        <span class="nav-item-content">
     
        </span>
      </a>
    </div>
  </div>
  <div class="nav-item-group max-w-full">
    <div class="navigation-menu-contents">
      <div class="nav-item nav-dropdown-item">
        <span class="nav-item-content">
          <span class="nav-item-text"> <a routerLink="/acceuil" class="nav-item rushlane">Acceuil</a></span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 5" width="8" height="8" class="dropdown-triangle"><path xmlns="http://www.w3.org/2000/svg" fill="currentColor" fill-rule="evenodd" d="M4.177 5l-4-5h8z"></path></svg>
          <div class="v-portal" style="display: none;"></div>
          <span class="site-overlay"></span>
        </span>
        <!---->
      </div>
      <a routerLink="/list-teams" class="nav-item nav-item-contests"><span class="nav-item-content">Teams</span></a> <a href="/contests" class="nav-item nav-item-contests"><span class="nav-item-content">About</span></a>
      <a routerLink="/bet" class="nav-item rushlane">
        <span class="nav-item-content"><span class="pr-2">🔥</span>Betting</span> <span class="chip chip-red-light px-4">New</span>
      </a>
      <a href="/academy" class="nav-item nav-item-academy"></a> <a href="/esports" class="nav-item nav-item-news"></a> <a href="/promos" class="nav-item nav-item-promos"></a>
      <div class="nav-item nav-dropdown-item nav-help-dropdown nav-item-help"><!----></div>
    </div>
  </div>
  <div class="flex account-group">
    <div class="nav-item nav-dropdown-item">
      <span class="nav-item-content">
  

        <span class="site-overlay"></span>
      </span>
      <!---->
    </div>
    <a *ngIf="tokenuser!=null" routerLink="/historique" class="nav-item no-hover no-active nav-button">
      <span class="nav-item-content"><span class="auth-button border border-transparent hover:underline">Mon Historique</span></span>
    </a>
    <a *ngIf="tokenuser!=null" routerLink="/mon-profil" style="margin-right: 30px;" class="nav-item no-hover no-active nav-button">
      <span class="nav-item-content"><span class="auth-button border border-transparent hover:underline">Mon Profil</span></span>
    </a>
    <a *ngIf="tokenuser==null" routerLink="/sign-up" class="nav-item no-hover no-active nav-button register-button">
      <span class="nav-item-content"><span class="auth-button btn btn-bloodorange">Signup</span></span>
    </a>
    <a *ngIf="tokenuser==null" routerLink="/login" class="nav-item no-hover no-active nav-button register-button">
      <span class="nav-item-content"><span class="auth-button btn btn-bloodorange">ikii {{ message | async | json }}</span></span>
    </a>
    <a *ngIf="tokenuser!=null" (click)="logOut()" class="nav-item no-hover no-active nav-button register-button">
      <span class="nav-item-content"><span class="auth-button btn btn-bloodorange">Deconnexion</span></span>
    </a>

  </div>
  <!---->
  <!---->
  <!---->
  <!---->
  <!---->
  <!---->
  <!---->
  <!---->
  <!---->
  <!---->
</nav>


<router-outlet></router-outlet>


